@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// STILE PER LAYOUT ADMIN
:root {
    --color-hover-icon: #ff0800;
    --color-icon: #ffd700;
    --color-menu-icon: #fff;
    --background-color-sidbar: #333;
    --background-color-topbar: #222;
    --color-sidbar: #fff;
    --color-topbar: #fff;
}

div.topbar {
    background-color: var(--background-color-topbar);
    color: var(--color-topbar);
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    .menu-icon {
        color: var(--color-menu-icon);
        cursor: pointer;
        font-size: 20px;
        width: 25px;
        height: 25px;
        margin-left: 260px;
        transition: margin-left 0.6s ease;
    }

    .logo_aziendale_right img,
    .logo_aziendale_left img {
        height: 40px;
    }

    .logo_aziendale_left {
        top: 10px;
        left: 5px;
        transition: left 0.3s ease;
    }

    .logo_aziendale_right {
        top: 10px;
        right: -190px;
        transition: right 0.3s ease;
    }

    .rotazione_menu_icon {
        animation: rotation-menu-icon 1s ease;
    }

    @keyframes rotation-menu-icon {
        0% {
            transform: rotateZ(0deg)
                /* Posizione iniziale */
        }

        100% {
            transform: rotateZ(360deg);
            /* Posizione finale */
        }
    }

    .rotazione_menu_icon_inversa {
        animation: rotation-menu-icon-inversa 1s ease;
    }

    @keyframes rotation-menu-icon-inversa {
        0% {
            transform: rotateZ(0deg)
                /* Posizione iniziale */
        }

        100% {
            transform: rotateZ(-360deg);
            /* Posizione finale */
        }
    }

}

div.sidebar {
    position: fixed;
    left: 0px;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: var(--background-color-sidbar);
    color: var(--color-sidbar);
    padding: 20px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        display: block;
        color: var(--color-sidbar);
        text-decoration: none;
        margin-bottom: 25px;
    }

    a:hover {
        color: var(--color-icon);
    }

    a:hover .my_svg_icon {
        fill: var(--color-hover-icon);
    }

    .my_svg_icon {
        fill: var(--color-icon);
        transition: fill 0.3s ease;
    }
}

.content {
    margin-left: 250px;
    padding: 60px 20px 20px 20px;
    // transition: margin-left 0.3s ease;
}


// SHOW.BLADE.PHP AZIENDA

div.immagine_copertina_pagina_show {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    div.logo_azienda {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: white;
        overflow: hidden;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1%;
        top: 2%;
        border: 2px solid rgb(255, 255, 255);
    }

    p.motto_aziendale {
        position: absolute;
        left: 50%;
        bottom: 1%;
        transform: translateX(-50%);
        color: white;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 2rem;
        border-radius: 10px;
    }
}

div.contenitore_informazioni_aziendali {
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #dfdfdf;
    font-weight: 600;
    width: 100%;
    margin-left: 1px;
}

div.contenitore_descrizione_aziendale {
    height: 530px;
    overflow-y: scroll;
}

.contenitore_descrizione_aziendale::-webkit-scrollbar {
    width: 4px;
    /* Larghezza della scrollbar */
}

.contenitore_descrizione_aziendale::-webkit-scrollbar-thumb {
    background-color: #888;
    display: none;
    transition: all 0.5s ease;
    /* Colore del thumb (la parte trascinabile della scrollbar) */
}

.contenitore_descrizione_aziendale::-webkit-scrollbar-thumb {
    display: block;
    /* Colore del thumb (la parte trascinabile della scrollbar) */
}

#video_aziendale {
    width: 100%;
    /* Larghezza del video */
    max-width: 800px;
    /* Larghezza massima consentita */
    height: auto;
    /* Altezza del video (auto per mantenere l'aspetto proporzionato) */
    border: 1px solid #ccc;
    /* Bordo attorno al video */
    border-radius: 8px;
    /* Arrotondamento dei bordi */
    margin: 0 auto;
    /* Centro il video orizzontalmente */
    display: block;
    /* Imposto come elemento block */
}

/* Stili per i controlli del video */
#video_aziendale::-webkit-media-controls {
    /* Stili specifici per i controlli (solo per Webkit browsers come Chrome e Safari) */
    background-color: rgba(0, 0, 0, 0);
    /* Colore dello sfondo dei controlli */
    color: white;
    /* Colore del testo dei controlli */
}

/* Stili per il pulsante di riproduzione/pausa */
#video_aziendale::-webkit-media-controls-play-button {
    /* Stili specifici per il pulsante play (solo per Webkit browsers) */
    color: white;
    /* Colore del pulsante play */
}

div.contenitore_altre_info {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-weight: 600;
        font-size: 1.3rem;
    }
}

// Visibile/Non visibile Azienda banner Rosso

.banner_visibile {
    position: absolute;
    top: 37px;
    right: -38px;
    width: 181px;
    height: 33px;
    background-color: #ff0000;
    transform: rotate(45deg);
    z-index: 998;
    color: white;
    font-weight: 600;
}

// STILE INDEX CORSI
a.bottone_modifica_index_corsi:hover {
    border: 1px solid black;
}

a.bottone_mostra_index_corsi:hover {
    border: 1px solid black;
}

a.bottone_aggiungi_index_corsi {
    transition: width 0.4s ease;
    width: 30.25px;
}

a.bottone_aggiungi_index_corsi:hover {
    width: 100%;
}

select#SearchCategoria {
    height: 100%;
    width: 100%;
    border: 1px solid #212529;
    border-radius: 0.375rem;
    padding: 4px 4px 4px 25px;
    /* Spazio per l'icona */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M264.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 149.8C37.4 145.8 32 137.3 32 128s5.4-17.9 13.9-21.8L264.5 5.2zM476.9 209.6l53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 277.8C37.4 273.8 32 265.3 32 256s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0l152-70.2zm-152 198.2l152-70.2 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 405.8C37.4 401.8 32 393.3 32 384s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
}

select#SearchAzienda {
    height: 100%;
    width: 100%;
    border: 1px solid #212529;
    border-radius: 0.375rem;
    padding: 4px 4px 4px 25px;
    /* Spazio per l'icona */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 48c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16h80V400c0-26.5 21.5-48 48-48s48 21.5 48 48v64h80c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64zM0 64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm88 40c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V104zM232 88h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V104c0-8.8 7.2-16 16-16zM88 232c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H104c-8.8 0-16-7.2-16-16V232zm144-16h48c8.8 0 16 7.2 16 16v48c0 8.8-7.2 16-16 16H232c-8.8 0-16-7.2-16-16V232c0-8.8 7.2-16 16-16z"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
}

input#SearchNomeCorso {
    height: 100%;
    width: 100%;
    border: 1px solid #212529;
    border-radius: 0.375rem;
    padding: 4px 4px 4px 25px;
    /* Spazio per l'icona */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
}

select#visibile {
    height: 100%;
    width: 100%;
    border: 1px solid #212529;
    border-radius: 0.375rem;
    padding: 4px 4px 4px 25px;
    /* Spazio per l'icona */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
}

select#Ordinamento {
    height: 100%;
    width: 100%;
    border: 1px solid #212529;
    border-radius: 0.375rem;
    padding: 4px 4px 4px 25px;
    /* Spazio per l'icona */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
}