@import '~bootstrap/scss/bootstrap';


:root {
    --color-hover-icon: #ff0800;
    --color-icon: #ffd700;
    --color-menu-icon: #fff;
    --background-color-sidbar: #333;
    --background-color-topbar: #222;
    --color-sidbar: #fff;
    --color-topbar: #fff;
}

/* Stile per la barra superiore */
div.topbar {
    background-color: var(--background-color-topbar);
    color: var(--color-topbar);
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    .menu-icon {
        color: var(--color-menu-icon);
        cursor: pointer;
        font-size: 20px;
        width: 25px;
        height: 25px;
        margin-left: 17.5px;
        transition: margin-left 0.6s ease;
    }

    .logo_aziendale_right img,
    .logo_aziendale_left img {
        height: 40px;
    }

    .logo_aziendale_left {
        top: 10px;
        left: -190px;
        transition: left 0.3s ease;
    }

    .logo_aziendale_right {
        top: 10px;
        right: 5px;
        transition: right 0.3s ease;
    }

    .rotazione_menu_icon {
        animation: rotation-menu-icon 1s ease;
    }

    @keyframes rotation-menu-icon {
        0% {
            transform: rotateZ(0deg)
                /* Posizione iniziale */
        }

        100% {
            transform: rotateZ(360deg);
            /* Posizione finale */
        }
    }

    .rotazione_menu_icon_inversa {
        animation: rotation-menu-icon-inversa 1s ease;
    }

    @keyframes rotation-menu-icon-inversa {
        0% {
            transform: rotateZ(0deg)
                /* Posizione iniziale */
        }

        100% {
            transform: rotateZ(-360deg);
            /* Posizione finale */
        }
    }

}

div.sidebar {
    position: fixed;
    left: -190px;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: var(--background-color-sidbar);
    color: var(--color-sidbar);
    padding: 20px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        display: block;
        color: var(--color-sidbar);
        text-decoration: none;
        margin-bottom: 25px;
    }

    a:hover {
        color: var(--color-icon);
    }

    a:hover .my_svg_icon {
        fill: var(--color-hover-icon);
    }

    .my_svg_icon {
        fill: var(--color-icon);
        transition: fill 0.3s ease;
    }
}

.content {
    margin-left: 60px;
    padding: 60px 20px 20px 20px;
    transition: margin-left 0.3s ease;
}

.immagine_copertina_show {
    width: 50%;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0;
}